/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$pink-color: #FD8698;

#outer-box {
  width: 900px;
  height: 630px;
  display:block;
  position:relative;

  img {
    width: 900px;
    height: auto;
  }

  #inner-box-1 {
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
  }

  #inner-box-2 {
    height: 100%;
    width: 50%;
    top: 0;
    left: 50%;
  }

  .inner-box {
    background: $pink-color;
    opacity: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;

    p {
      color: #fff;
      line-height: 150px;
      font-family: 'arial';
      text-align: center;
    }
  }

  .inner-box {
    &:hover {
      opacity: .9;
      transition: opacity .5s;
    }
  }
}
