<div id="outer-box">
  <%= image_pack_tag "Wondrous Wetland.png" %>
  <%
    (1..14).each do |x|
      (1..14).each do |y|
        y_class = "y-box-#{y}"
        x_class = "x-box-#{x}"
      %>
    <div class="<%= y_class %> <%= x_class %> inner-box">
      <p>#<%= y + ((x-1) * 14) %></p>
    </div>
    <%
      end
  end %>
</div>
