<div id="outer-box">
  <%= image_pack_tag "Wondrous Wetland.png" %>
  <div id="inner-box-1" class="inner-box">
    <p>This is the overlay #1!</p>
  </div>
  <div id="inner-box-2" class="inner-box">
    <p>This is the overlay #2!</p>
  </div>
</div>
